:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.basic-container {
  background-color: rgba(0, 0, 0, 0.533);
  padding: 2rem;
  border-radius: 1rem;
  transition-duration: 0.3s;
}

.basic-container:hover {
  border-radius: 2rem;
}
